{% extends "base.html" %}
{% block content %}
<h2 style="margin-top:26px; color:#563d7c;">Registered Students</h2>
<div style="background:#fff;box-shadow:0 2px 14px #ececec;border-radius:12px;padding:28px;">
    <table style="width:100%;border-collapse:collapse;">
        <tr style="background:#f6f7fb;">
            <th>Name</th>
            <th>User ID</th>
            <th>Email</th>
        </tr>
        {% for s in students %}
        <tr>
            <td>{{ s.name }}</td>
            <td>{{ s.id }}</td>
            <td>{{ s.email }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
